.teams {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(#1e1e1e, black);
  padding: 50px;
  flex-flow: row wrap;
}

.left-section {
  flex: 1;
}
.right-section {
  flex: 1;
}
.game-list {
  overflow: scroll;
  max-height: 70vh;
  margin-right: 50px;
  padding: 50px;
  min-width: 300px;
}

.game-item {
  list-style-type: none; /* Remove bullet points */
  margin-top: 20px;
  margin-bottom: 20px;
}
.game-item img {
  border: 5px solid #7a7a7aa9;
  width: 100%;
  height: auto;
  max-height: 100px;
}

.action-button {
  margin-top: 50px;
  font-family: "Syncopate", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  border: 2px solid #7a7a7aa9;
  background-color: white;
  color: black;
  padding: 15px 40px;
  transition: background-color 0.3s ease;
}

.action-button:hover {
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.down-arrow {
  font-size: 3rem;
  color: #1e1e1e;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
